body {
    font-size: 16px;
    font-family: monospace;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

nav > ul > li {
    display: inline;
    text-decoration: none;
    padding: 1rem;
}

img:not(header img) {
    width: 100%;
}

header {
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

nav a:hover {
    background-color: white;
    color: darkseagreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lemonchiffon;
    padding: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: darkseagreen;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: end;
}



.booking-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}